.container-main {
  width: 100%;
  display: flex;
  color: white;
 align-items: center;
 padding-left: 4rem;
}

@media screen and (max-width:800px) {
  .container-main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }}