


ul {
  width: 100%;
}
li {
  margin: 0 auto;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  list-style: none;
  filter: blur(0.1);
  margin-bottom: 0.5rem;
  border-top: 1px solid white;
}

a {
  font-family: gogoia;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 1rem 0.3rem 1rem 0rem;
}
.ul-items li a:hover {
  color: aqua;
}
